<footer class="footer ttm-bg ttm-bgcolor-darkgrey widget-footer clearfix">
    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
    <div class="container">
        <div class="first-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 widget-area">
                    <h3>Sign Up To Get Latest Update</h3>
                    <p>Sign up for our monthly newsletter for the latest news & articles</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 widget-area">
                    <form id="subscribe-form" class="newsletter-form" method="post" action="#" data-mailchimp="true">
                        <div class="mailchimp-inputbox clearfix" id="subscribe-content"> 
                            <p><input type="email" name="email" placeholder="Enter Your Email" required=""></p>
                            <p><button class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-squar ttm-btn-style-fill ttm-btn-color-skincolor" type="submit">Subscribe Now</button></p>
                        </div>
                        <div id="subscribe-msg"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="second-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 widget-area">
                    <div class="widget widget_text clearfix">
                        <div class="footer-logo">
                            <img width="205" height="65" id="footer-logo-img" class="img-fluid" src="frontend/images/footer-logo.svg" alt="image">
                        </div>
                        <div class="textwidget widget-text">
                            <p>Inoterior design consultancy firm that brings sensitivity to the design top restaurants, hotels, offices & homes around the world, the prestigious luxury is. We do all types of interior designing.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 widget-area">
                    <div class="widget widget_nav_menu clearfix">
                       <h3 class="widget-title">Quick Links</h3>
                        <ul id="menu-footer-service-link" class="menu">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Testimonial</a></li>
                            <li><a href="#">Latest News</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Planning</a></li>
                            <li><a href="#">Designing</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-4 widget-area">
                    <div class="widget widget-timing clearfix">
                        <h3 class="widget-title">Contact</h3>
                        <div class="featured-icon-box icon-align-before-content icon-ver_align-top style1">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xs">
                                    <i class="flaticon flaticon-call-1"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h3>Phone Number</h3>
                                </div>
                                <div class="featured-desc">
                                    <p>+123 456 7890</p>
                                </div>
                            </div>
                        </div>
                        <div class="featured-icon-box icon-align-before-content icon-ver_align-top style1">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xs">
                                    <i class="flaticon flaticon-email"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h3>Email Address</h3>
                                </div>
                                <div class="featured-desc">
                                    <p>info@abcmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="featured-icon-box icon-align-before-content icon-ver_align-top style1">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xs">
                                    <i class="flaticon flaticon-navigation"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h3>Location</h3>
                                </div>
                                <div class="featured-desc">
                                    <p>14/A, Miranda City, NYC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer-text">
            <div class="row copyright">
                <div class="col-lg-7 col-md-8">
                    <p class="mb-0 res-991-pb-15">Copyright © 2021 <a href="#">Inoterior</a> Template. All rights reserved.</p>
                </div>
                <div class="col-lg-5 col-md-4">
                    <div class="social-icons d-flex align-items-center justify-content-end">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>