<header id="masthead" class="header ttm-header-style-01">
    <!-- site-header-menu -->
    <div id="site-header-menu" class="site-header-menu">
        <div class="site-header-menu-inner ttm-stickable-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!--site-navigation -->
                        <div class="site-navigation d-flex flex-row align-items-center justify-content-between">
                            <!-- site-branding -->
                            <div class="site-branding ">
                                <a class="home-link" href="/" title="Inoterior" rel="home">
                                    <img id="logo-img" width="100" height="53" class="img-fluid" src="frontend/images/logo.png" alt="logo-img">
                                </a>
                            </div><!-- site-branding end -->
                            <div class="d-flex flex-row">
                                <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                    <span class="menubar-box">
                                        <span class="menubar-inner"></span>
                                    </span>
                                </div>
                                <!-- menu -->
                                <nav class="main-menu menu-mobile" id="menu">
                                    <ul class="menu">
                                        <li class="mega-menu-item active">
                                            <a href="/" class="mega-menu-link">Home</a>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a href="pages/about" class="mega-menu-link">Bộ sưu tập</a>
                                            <ul class="mega-submenu">
                                                <li><a href="pages/about">About Us</a></li>
                                                <li><a href="pages/service">Services</a></li>
                                                <li><a href="pages/team">Our Team</a></li>
                                                <li><a href="pages/team_detail">Team Details</a></li>
                                                <li><a href="error.html">Error Page</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a href="#" class="mega-menu-link">Services</a>
                                            <ul class="mega-submenu">
                                                <li><a href="pages/architecture">Architecture</a></li>
                                                <li><a href="interior-work.html">Interior Work</a></li>
                                                <li><a href="retail-designs.html">Retail Designs</a></li>
                                                <li><a href="layout.html">2D/3D Layouts</a></li>
                                                <li><a href="inter-design.html">Inter Design</a></li>
                                                <li><a href="decoration-art.html">Decoration Art</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a href="#" class="mega-menu-link">Projects</a>
                                            <ul class="mega-submenu">
                                                <li><a href="project-style-01.html">Project Style One</a></li>
                                                <li><a href="project-single.html">Project Single View</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a href="#" class="mega-menu-link">Blog</a>
                                            <ul class="mega-submenu">
                                                <li><a href="blog.html">Blog Classic</a></li>
                                                <li><a href="blog-single.html">Blog Single View</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a href="product.html">Product</a>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a href="contact-us.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </nav><!-- menu end -->
                                <div class="header_extra d-flex flex-row align-items-center justify-content-end">
                                    <div class="header_search">
                                        <a href="#" class="btn-default search_btn"><i class="fa fa-search"></i></a>
                                        <div class="header_search_content">
                                            <div class="header_search_content_inner">
                                                <a href="#" class="close_btn"><i class="ti ti-close"></i></a>
                                                <form id="searchbox" method="get" action="#">
                                                    <input class="search_query" type="text" id="search_query_top" name="s" placeholder="Type Word Then Enter.." value="">
                                                    <button type="submit" class="btn close-search"><i class="ti ti-search"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header_cart">
                                        <a href="#" class="button-cart">
                                            <div class="cart_icon"><i class="fa fa-shopping-cart"></i></div>
                                            <div class="cart_count">0</div>
                                        </a>
                                    </div>
                                    <div class="header_btn">
                                        <a class="ttm-btn ttm-btn-size-md btn-inline ttm-icon-btn-right ttm-btn-color-skincolor" href="contact-us.html">Get A Quotes!</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- site-navigation end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- site-header-menu end-->
</header>