<div class="ttm-page-title-row">
    <div class="ttm-page-title-row-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">Services</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <div class="container">
                            <div class="breadcrumb-wrapper-inner">
                                <span>
                                    <a title="Go to Delmont." href="index.html" class="home"><i class="themifyicon ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                                <span>Services</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>


<!--site-main start-->
<div class="site-main">

<!--welcome-section-->
<section class="ttm-row welcome-section ttm-bgcolor-darkgrey clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="pt-20 res-991-pt-0">
                    <!-- section title -->
                    <div class="section-title">
                        <div class="title-heade">
                            <h3>About Us</h3>
                            <h2 class="title">Have Personality As Well As Be Beautiful.</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                    </div><!-- section title end -->
                    <h3 class="ttm-textcolor-skincolor">Client Focused</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices</p>
                    <div class="d-flex align-items-center">
                        <div class="img-content pr-25">
                            <img width="62" height="62" class="img-fluid border-rounded" src="frontend/images/admin-img.jpg" alt="ttm_single_image-wrapper">
                        </div>
                        <div class="text-content pt-10">
                            <h3 class="mb-0">Jessica Brown</h3>
                            <p>Graphic Designer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <!-- ttm_single_image-wrapper -->
                <div class="ttm_single_image-wrapper">
                    <img width="570" height="471" class="img-fluid" src="frontend/images/single-img-08.png" alt="single_02">
                </div>
            </div>
        </div>
    </div>
</section>
<!--welcome-section end-->


<!-- procedure-section -->
<section class="ttm-row procedure-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-10 m-auto">
                <!-- section title -->
                <div class="section-title title-style-center_text">
                    <div class="title-header">
                        <h3>Processing</h3>
                        <h2 class="title">Best Solutions For Your Dream</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- section title end -->
            </div>
        </div>
        <!-- row -->
        <div class="col-lg-12">
            <div class="featuredbox-number processbox">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <!-- featured-imagebox -->
                        <div class="featured-icon-box icon-align-top-content style4">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-xl ttm-icon_element-style-rounded">
                                    <i class="flaticon flaticon-workspace"></i>
                                    <span class="ttm-num"></span>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h3>The Feasibility</h3>
                                </div>
                                <div class="featured-desc">
                                    <p>This initial phase of the  project includes preliminary studies</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <!-- featured-imagebox -->
                        <div class="featured-icon-box icon-align-top-content style4">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-xl ttm-icon_element-style-rounded">
                                    <i class="flaticon flaticon-interior-design-1"></i>
                                    <span class="ttm-num"></span>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h3>The Development</h3>
                                </div>
                                <div class="featured-desc">
                                    <p>we get into the detail of  the scheme. We’ll refine the internal</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <!-- featured-imagebox -->
                        <div class="featured-icon-box icon-align-top-content style4">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-xl ttm-icon_element-style-rounded">
                                    <i class="flaticon flaticon-windows"></i>
                                    <span class="ttm-num"></span>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h3>Full Mobilization</h3>
                                </div>
                                <div class="featured-desc">
                                    <p>Once the contractor is  appointed, will workshops to review</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <!-- featured-imagebox -->
                        <div class="featured-icon-box icon-align-top-content style4">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-xl ttm-icon_element-style-rounded">
                                    <i class="flaticon flaticon-interior-design"></i>
                                    <span class="ttm-num"></span>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h3>Post PC Work</h3>
                                </div>
                                <div class="featured-desc">
                                    <p>The project concludes  will visit site to inspect all the works</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>
<!-- procedure-section end -->


<!--services-section end-->
<section class="ttm-row services-section ttm-bgcolor-darkgrey bg-img2 clearfix">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pt-10 text-left">
                    <!-- section title -->
                    <div class="section-title">
                        <div class="title-header">
                            <h3>Best Services</h3>
                            <h2 class="title">Services We’re Providing</h2>
                        </div>
                        <div class="title-desc">
                            <p>We are working primarily in and around London and the Home Counties, on schemes that range from small intimate spaces to large projects.</p>
                        </div>
                    </div><!-- section title end -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <!-- featured-icon-box -->
                <div class="featured-icon-box icon-align-top-content style2">
                    <div class="featured-icon">
                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                            <i class="flaticon flaticon-apartment"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h3>Residential Interior</h3>
                        </div>
                        <div class="featured-desc">
                            <p>We do all types of the interior designing,  decoration & furnishing.</p>
                        </div>
                        <div class="ttm-footer">
                            <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-white" href="architecture.html">Read More</a>
                        </div>
                    </div>
                </div><!-- featured-imagebox-portfolio end-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <!-- featured-icon-box -->
                <div class="featured-icon-box icon-align-top-content style2">
                    <div class="featured-icon">
                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                            <i class="flaticon flaticon-interior-design-1"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h3>Custom Solutionse</h3>
                        </div>
                        <div class="featured-desc">
                            <p>Our creative 3D artists are always ready to translate your designs</p>
                        </div>
                        <div class="ttm-footer">
                            <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-white" href="retail-designs.html">Read More</a>
                        </div>
                    </div>
                </div><!-- featured-imagebox-portfolio end-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <!-- featured-icon-box -->
                <div class="featured-icon-box icon-align-top-content style2">
                    <div class="featured-icon">
                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                            <i class="flaticon flaticon-bed-1"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h3>Renovate Rooms</h3>
                        </div>
                        <div class="featured-desc">
                            <p>We are master of renovation & innovation of existing any kind of rooms</p>
                        </div>
                        <div class="ttm-footer">
                            <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-white" href="layout.html">Read More</a>
                        </div>
                    </div>
                </div><!-- featured-imagebox-portfolio end-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <!-- featured-icon-box -->
                <div class="featured-icon-box icon-align-top-content style2">
                    <div class="featured-icon">
                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                            <i class="flaticon flaticon-decorating"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h3>3D Design Layouts</h3>
                        </div>
                        <div class="featured-desc">
                            <p>We Do All Types Of 2D And 3D design  Computerized Designs.</p>
                        </div>
                        <div class="ttm-footer">
                            <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-white" href="layout.html">Read More</a>
                        </div>
                    </div>
                </div><!-- featured-imagebox-portfolio end-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <!-- featured-icon-box -->
                <div class="featured-icon-box icon-align-top-content style2">
                    <div class="featured-icon">
                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                            <i class="flaticon flaticon-door"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h3>Outsourced Service InHouse</h3>
                        </div>
                        <div class="featured-desc">
                            <p>Enforces & strengthens your brand identity by integrating rich experience</p>
                        </div>
                        <div class="ttm-footer">
                            <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-white" href="decoration-art.html">Read More</a>
                        </div>
                    </div>
                </div><!-- featured-imagebox-portfolio end-->
            </div>
        </div><!-- row end -->
    </div>
</section>
<!--services-section end-->



<!--pricing_plan-section-->
<section class="ttm-row pricing_plan-section pt-90 clearfix">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-9 m-auto">
                <!-- section-title -->
                <div class="section-title without-seperator title-style-center_text">
                    <div class="title-header">
                        <h3>Our prices</h3>
                        <h2 class="title">Choose Your Plan From Us</h2>
                    </div>
                </div><!-- section-title end -->
            </div>
        </div><!-- row end -->
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <!--ttm-pricing-plan-->
                <div class="ttm-pricing-plan">
                    <div class="ttm-p_table-image">
                        <img class="img-fluid" width="380" height="195" src="frontend/images/pricing/01.jpg" alt="image">
                    </div>
                    <div class="ttm-p_table-amount">
                        <span class="cur_symbol">$</span><span class="pac_frequency">199</span>
                    </div>
                    <div class="ttm-p_table-title"><h3>Advanced Plan</h3></div>
                    <div class="ttm-p_table-body">
                        <ul class="ttm-p_table-features">
                            <li><i class="ti ti-check"></i>10 Property Listing</li>
                            <li><i class="ti ti-check"></i>30 Days Availability</li>
                            <li><i class="ti ti-check"></i>Feature Properties</li>
                            <li><i class="ti ti-check"></i>24/7 support</li>
                        </ul>
                    </div>
                    <div class="ttm-p_table-footer">
                        <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-skincolor" href="#">Buy Now</a>
                    </div>
                </div><!--ttm-pricing-plan-->
            </div>
            <div class="col-lg-4 col-md-12">
                <!--ttm-pricing-plan-->
                <div class="ttm-pricing-plan">
                    <div class="ttm-p_table-image">
                        <img class="img-fluid" width="380" height="195" src="frontend/images/pricing/02.jpg" alt="image">
                    </div>
                    <div class="ttm-p_table-amount">
                        <span class="cur_symbol">$</span><span class="pac_frequency">299</span>
                    </div>
                    <div class="ttm-p_table-title"><h3>Starter Plan</h3></div>
                    <div class="ttm-p_table-body">
                        <ul class="ttm-p_table-features">
                            <li><i class="ti ti-check"></i>10 Property Listing</li>
                            <li><i class="ti ti-check"></i>30 Days Availability</li>
                            <li><i class="ti ti-check"></i>Feature Properties</li>
                            <li><i class="ti ti-check"></i>24/7 support</li>
                        </ul>
                    </div>
                    <div class="ttm-p_table-footer">
                        <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-skincolor" href="#">Buy Now</a>
                    </div>
                </div><!--ttm-pricing-plan-->
            </div>
            <div class="col-lg-4 col-md-12">
                <!--ttm-pricing-plan-->
                <div class="ttm-pricing-plan">
                    <div class="ttm-p_table-image">
                        <img class="img-fluid" width="380" height="195" src="frontend/images/pricing/03.jpg" alt="image">
                    </div>
                    <div class="ttm-p_table-amount">
                        <span class="cur_symbol">$</span><span class="pac_frequency">399</span>
                    </div>
                    <div class="ttm-p_table-title"><h3>Enterprise Plan</h3></div>
                    <div class="ttm-p_table-body">
                        <ul class="ttm-p_table-features">
                            <li><i class="ti ti-check"></i>10 Property Listing</li>
                            <li><i class="ti ti-check"></i>30 Days Availability</li>
                            <li><i class="ti ti-check"></i>Feature Properties</li>
                            <li><i class="ti ti-check"></i>24/7 support</li>
                        </ul>
                    </div>
                    <div class="ttm-p_table-footer">
                        <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-skincolor" href="#">Buy Now</a>
                    </div>
                </div><!--ttm-pricing-plan-->
            </div>
        </div>
    </div>
</section>
<!--pricing_plan-section end-->


</div><!--site-main end-->